code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
  direction: ltr;
}

p:lang(fa), h1:lang(fa), a:lang(fa) {
  font-family: 'sahel';
}

body {
  font-family: 'Roboto', Optima, Candara, Calibri, Arial, sans-serif;
}