body {
  font-family: 'IBM Plex Sans', Optima, Candara, Calibri, Arial, sans-serif;
}
code {
  font-family: 'IBM Plex Mono', "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
tt {
  font-family: "Menlo", "Monaco", "Courier", monospace;
  font-size: 85%;
}
